 <nav materialize>
    <div class="nav-wrapper">

      <a href="#" materialize="sideNav" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['about']">About</a></li>
        <li><a href="#">Foo</a></li>
        <li><a (click)="toggleNewBoard()" class="waves-effect waves-light"><i class="material-icons">add</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Foo</a></li>
        <li><a (click)="toggleNewBoard()" class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a></li>

      </ul>

    </div>
  </nav>

<!-- The Modal -->
<div *ngIf="showNewBoard.isOn" id="myModal" class="modalNew">
Parent: {{showNewBoard.isOn}}
  <!-- Modal content -->
 <board [showCreateBoard]= "showNewBoard"></board>

</div>