@import '../style/bourbon/bourbon';
@import "variables.scss";

// styles in src/style directory are applied to the whole page
body {
    background: white;
    color:$primary-text-color;
}
a {
    color: $link;
}
section {
  @include linear-gradient(to top, $primary-color-light, $offWhite);
}

.completed {
    text-decoration: line-through;
}

/* Rules for sizing the icon. */
.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark .md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.md-light { color: rgba(255, 255, 255, 1); }
.md-light .md-inactive { color: rgba(255, 255, 255, 0.3); }

.orange600 { color: #FB8C00; }

/* Close Button */

[class*='close-'] {
  color: maroon;
  font: 16px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.close-button:after {
  content: 'X'; /* ANSI X letter */
}
.close-button:hover {
  color: lighten(maroon, 20);
}

// Cards
.cards {
  display: flex;
  flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 2px;
    z-index: 1;
    min-height: 0;
}
.card-box{
    transition: box-shadow .25s;
    padding: 2px;
    margin: 5px 5px;
    width: 220px;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    max-height: 100%;
}

.card {
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  width: 250px;
  // flex-grow: 2;
  margin: 10px 5px;
  position: relative;
  transition: all 0.2s ease-in-out;

  .card-image {
    background-color: $card-image-hover-color;
    height: 150px;
    max-height: 150px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

  .card-header {
    background-color: $card-header-background;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    transition: all 0.2s ease-in-out;
    display: flex;
    padding: 0 5px;
  }
// end of cards
