  <div>
  <label>Hero name:</label> <input #todoName />
  <button (click)="add(todoName.value); todoName.value=''">
    Add
  </button>
</div>
  <div>
  <label>Update name:</label> <input #todoTitle />
  <button (click)="update(todoTitle.value); todoTitle.value=''">
    Update
  </button>
</div>
  <div>
  <label>Delete:</label> <input #todoId />
  <button (click)="delete(todoId.value); todoId.value=''">
    Delete
  </button>
</div>

  <section>

          <h3>
            {{newTodo.title}}
          </h3>

    <ul>
      <!--<li *ngFor="let todo of todoList | async">-->
      <li *ngFor="let todo of todos">
          <div>
            {{todo.title}}
          </div>


      </li>
    </ul>
  </section>

      <div class="row">
          <div class="chip">
    <img src="http://placehold.it/50" alt="Contact Person">
    Jane Doe
  </div>
        <div class="cards">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
                    <div class="card teal lighten-2">
            <div class="card-content white-text">
              <span class="card-title">Card 2</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">

              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://placehold.it/200">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">cloud</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

        </div>
      </div>

  <div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      First Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Another Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <!--<div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      The Last Card
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>-->
</div>
